#btn {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 400;
  font-family: var( --secondaryfont);
  color: var(--primary-color);
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid var(--primary-color);
  transition: 0.5s ease;
  user-select: none;
}

#btn:hover {
  color:var(--white);
  background: var(--primary-color);
  border: 1px solid #008cff;
  text-shadow:0 0 5px #ffffff, 0 0 10px #ffffff1c, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 0px #008cff, 0 0 23px #008cff, 0 0 100px #008cff;
}
